---
// HeaderSection.astro
export interface Props {
  titleprimary?: string;
  titleColor: string;
  titleSecondary?: string;
  description: string;
  text: string;
}
const { titleprimary, titleColor, description, text, titleSecondary } = Astro.props;
---

<div class="text-center mb-16">
  <div
    class="inline-flex items-center gap-2 bg-primary/10 px-6 py-3 rounded-full mb-6"
  >
    <slot name="icon" />
    <span class="text-primary font-bold text-sm uppercase tracking-wider"
      >{text}</span
    >
  </div>
  <h2 class="text-4xl lg:text-6xl font-bold text-primary mb-6 leading-tight">
    {titleprimary}
    <span
      class="bg-gradient-to-r from-primary via-secondary to-accentcolor bg-clip-text text-transparent"
    >
      {titleColor}
    </span>
    {titleSecondary}
  </h2>
  <p class="text-lg text-texto/70 max-w-2xl mx-auto leading-relaxed">
    {description}
  </p>
</div>
